#loading-img {
    background: url(/static/img/load.gif) center center no-repeat;
    height: 100%;
    z-index: 20;
    opacity: 1;
}

.overlay {
    background: #FFFFFF;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.25;
}
