
{% extends "layout.html" %} {% block scripts %} {{ super() }}
<script src="static/js/map.js">
</script> {% endblock %} {% block content %}
<div class="navbar navbar-fixed-top" style="font-family: 'Comfortaa', cursive;">
    <nav class="navbar navbar-inverse" role="navigation" style="background-color: #1a1819;">
        <a class="navbar-left" href="#"><img height="50" src="static/img/coalogo.jpeg" width="150"></a>
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="/" style="font-size: 30px"><b>Permit Visualizer</b></a>
        </div>
        <div class="collapse navbar-collapse navHeaderCollapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="permit-types" style="padding:0px 7px; height: 50px">
                <div class="navbar-btn" id='building-button'>
                    <label class="navbar-link" for="building"><input class="autosubmit" id="building" type="checkbox" value="true"> <span class="chkboxspan">Building</span></label>
                </div>
            </form>
            <form class="navbar-form navbar-left" role="permit-types" style="padding:0px 7px; height: 50px">
                <div class="navbar-btn" id='plumbing-button'>
                    <label class="navbar-link" for="plumbing"><input class="autosubmit" id="plumbing" type="checkbox" value="true"> <span class="chkboxspan">Plumbing</span></label>
                </div>
            </form>
            <form class="navbar-form navbar-left" role="permit-types" style="padding:0px 7px; height: 50px">
                <div class="navbar-btn" id='electrical-button'>
                    <label class="navbar-link" for="electrical"><input class="autosubmit" id="electrical" type="checkbox" value="true"> <span class="chkboxspan">Electrical</span></label>
                </div>
            </form>
            <form class="navbar-form navbar-left" role="permit-types" style="padding:0px 7px; height: 50px">
                <div class="navbar-btn" id='mechanical-button'>
                    <label class="navbar-link" for="mechanical"><input class="autosubmit" id="mechanical" type="checkbox" value="true"> <span class="chkboxspan">Mechanical</span></label>
                </div>
            </form>
            <form class="navbar-form navbar-left" role="permit-types" style="padding:0px 7px; height: 50px">
                <div class="navbar-btn" id='driveway-button'>
                    <label class="navbar-link" for="driveway"><input class="autosubmit" id="driveway" type="checkbox" value="true"> <span class="chkboxspan">Driveway/Sidewalk</span></label>
                </div>
            </form>
            <form class="navbar-form navbar-left" role="permit-types" style="padding:0px 7px; height: 50px">
                <div class="navbar-btn" id='demolition-button'>
                    <label class="navbar-link" for="demolition"><input class="autosubmit" id="demolition" type="checkbox" value="true"> <span class="chkboxspan">Demolition</span></label>
                </div>
            </form>
            <form class="navbar-form navbar-left">
                <button class="btn btn-default navbar-btn autosubmit" onclick="return reloadMap()" type="button">Reform Map</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dates and Settings<b class="caret"></b></a>
                    <ul class="dropdown-menu" style="width: 400px;">
                        <li>
                            <a href="#">Start Date</a>
                        </li>
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class='col-sm-4'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input class="form-control" type='text'> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                    $(function () {
                                    $('#datetimepicker1').datepicker({
                                    format: "yyyy-mm-dd",
                                    autoclose: true
                                    });
                                    });
                                    </script>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">End Date</a>
                        </li>
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class='col-sm-4'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker2'>
                                                <input class="form-control" type='text'> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                    $(function () {
                                    $('#datetimepicker2').datepicker({
                                    format: "yyyy-mm-dd",
                                    autoclose: true
                                    });
                                    });
                                    </script>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li style="list-style: none; display: inline">
                            <div class="container">
                                <div class="row">
                                    <div class='col-sm-4'>
                                        <div class="form-group">
                                            <div class='input-group date'>
                                                <div class="checkbox">
                                                    <label for="heatmaptoggle"><input class="autosubmit" data-toggle="toggle" id='heatmaptoggle' type="checkbox" value="true"> <span>Heatmap toggle</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <script type="text/javascript">
                    $('.dropdown-menu').on({
                    "click":function(e){
                    e.stopPropagation();
                    }
                    });
                    </script>
                </li>
            </ul>
        </div>
    </nav>
</div>​
<script>
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: new google.maps.LatLng(30.2672,-97.7431),
        mapTypeId: 'terrain'
      });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script> ​
<div id="map"></div>
{% endblock %}
