
{% extends "layout.html" %}
{% block content %}
<script>
  $("#reload").attr('disabled', true);
</script>
<div class="fill" id="map-selector">
  <a class="hovertext" title="Permit Heatmap" href="/map">
    <img class="selector" src="static/img/Map.jpeg"/>
    <h2 class="under">Permit Heatmap</h2>
  <a>
</div>
<div class="fill" id="map-selector">
  <a class="hovertext" title="Rate Graph" href="/graph">
    <img class="selector" src="static/img/Graph.jpeg"/>
    <h2 class="under">Permit Graph</h2>
  <a>
</div>
{% endblock %}
